<ion-header-bar class="bar-positive">
	<a class="button button-icon icon ion-reply" href="#/tab/merchant"></a> 
	<h1 class="title">About</h1>
</ion-header-bar>
<ion-content class="padding contentbg">
	<div class="logo">
		<img src="img/Air_Pos_Logo.svg" />
		<center ><h4 class="fontcolor"> Transaction Gateway</h4></center>
		<center > <h4 class="fontcolor">V1.1</h4></center>
		<center > <h4 class="fontcolor">Official WebSite:www.ghl.com</h4></center>
		<center > <h4 class="fontcolor">©2014 GHL Systems Berhad. <br />All Rights Reserved</h4></center>
	</div>
</ion-content> 