<ion-header-bar class="bar-positive">
	<a class="button button-icon icon ion-reply" href="index.html"></a>
	  <h1 class="title">Insert Card</h1>
	<a class="button button-icon icon ion-ios7-redo" href="#/UseBankCard"></a>
</ion-header-bar>
		 
<ion-content class="padding contentbg">
	<div class="list">
		<center><img src="img/TransactionTerminated.png"  /></center>
		<center><h4 id='msg' class="fontcolor">Please Insert Card </h4></center> 
		<!--<a class="item item-icon-left item-icon-right" ng-click="showPopup ()">ok</a>-->
	</div>	
	<!--<div ng-controller='BankCardData'>
		<a class="item item-icon-left item-icon-right" ng-click="showPopup ()">ok</a>
	</div>-->
</ion-content>