<ion-header-bar class="bar-positive">
	<a class="button button-icon icon ion-reply" href="#/MerchantManagment"></a>
	<h1 class="title"> Modify Login PassWord</h1>
</ion-header-bar>
<ion-content class="padding" ng-controller='MLoginpassword'>
	<div class="list">
		<label class="item item-input">
			<input type="password" placeholder="Old Login PassWord"   ng-model='psw.oldpsw'  class="inputheight">
		</label>
		<label class="item item-input">
			<input type="password" placeholder="New Login PassWord"   ng-model='psw.newpsw'  class="inputheight">
		</label>
		<label class="item item-input">
			<input type="password" placeholder="Repeat Login PassWord" ng-model='psw.repsw' class="inputheight">
		</label>
	
		<button ng-click='changePsw()' ng-disabled="!psw.oldpsw||!psw.newpsw||!psw.repsw||!(psw.newpsw==psw.repsw)" class="button button-block button-dark" style="height: 3em; border-radius: 5px;">SUBMIT</button>
	</div>
</ion-content>