<ion-header-bar class="bar-positive">
	<h1 class="title">More</h1>
	<a class="item-icon-right"><i ng-model='bat' class={{bat}}></i></a>
</ion-header-bar>
		
<ion-content class="padding">
	<!--<ion-slide-box on-slide-changed="slideChanged($index)">
	  <ion-slide>-->
		<div class="more">
		  <img src="img/Guide_Hand.svg">
		</div>
	  <!--</ion-slide>-->
	 
	<!--</ion-slide-box>-->
	
	<!--<div class="list">
		<a class="button button-full button-energized" >
			<h3 style="color: #FFFFFF; height: 1.2em;line-height: 1.2em;">Device Info</h3>
		</a>
	</div>-->
</ion-content>	