<ion-content class="padding" ng-controller="BmpCtrl" scroll="false">
	<div class="row">
	  <div class="col-80">
			<canvas id="canvas" style="background: #FFFFFF;">your broswer not support canvas</canvas> 
	  </div>
	  <div class="col-20" align="right">
			<table cellpadding="0" cellspacing="0" style="margin-top: 200px;">
				<tr>
					<td>
						<input id="imgurl" type="button" style="background: url(img/OK.png); width: 32px; height: 80px;border: none;"/>					
					</td>
				</tr>
				<tr>
					<td>
						<input id="clear" type="button" style="background: url(img/resign.png); width: 32px; height: 80px;border: none;"/>
					</td>
				</tr>
			</table>
			<img id="bmp" />
	  </div>
	</div>	
</ion-content>