<ion-tabs class="tabs-icon-top" tabs-type="tabs-positive" animation="slide-left-right">
	<ion-tab title="Sale" icon="ion-card"  href="/tab/home">
	   <ion-nav-view  name="home-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Record" icon="ion-navicon-round" href="/tab/history">
	   <ion-nav-view name="history-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Merchant" icon="ion-person" href="/tab/merchant">
	  <ion-nav-view name="merchant-tab"></ion-nav-view>
	</ion-tab>
	
	<ion-tab badge="1" badge-style="badge-assertive" title="More" icon="ion-gear-a" href="/tab/setting">
	   <ion-nav-view name="setting-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs> 