<ion-header-bar class="bar-positive">
	<a class="button button-icon icon ion-reply" href="#/InsertCard"></a>
	<h1 class="title">User Bank Card</h1>
	<a class="button button-icon icon ion-ios7-redo" href="#/Total"></a>
</ion-header-bar>
		 
<ion-content class="padding contentbg"> 
	<div class="list">
		<center><h4 class="fontcolor">Total:RM 0.10 </h4></center>
		<center><img src="img/InsertCard.png" /></center>
		<center><h4 id="msg" class="fontcolor">Terminal:14/04/16 11:30:42</h4></center>
		
	</div>	
</ion-content>