<html ng-app='TestFormModule'>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.8/angular.min.js"></script>
    </head>
    <body>
        <form name="myForm" ng-submit="save()" ng-controller="TestFormModule">
              <input name="userName" type="text" ng-model="user.userName" required/>
              <input name="password" type="password" ng-model="user.password" required/>
              <input type="submit" ng-disabled="myForm.$invalid"/>
        </form>
    </body>
    <script>
	var appModule = angular.module('TestFormModule', []);
	appModule.controller("TestFormModule",function($scope){
		$scope.user={
			userName:'xx',
			password:''
		};
		$scope.save=function(){
			alert($scope.user.password);
		}
	});
	</script>
</html>